.intro {
    width: 100%;
    min-height: 100%;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
    
    

    &__box {
        
        
        position: absolute;
        border: 3px solid #fff;
        padding: 5rem 10rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media only screen and (max-width: $bp-phone){
            padding: 2.5rem 5rem;
         };
         
    }

    &__header {
        font-size: 5rem;
        font-weight: 100;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding-bottom: 1rem;
    }

    &__sub-header {
        font-size: 2rem;
        font-weight: 100;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
       
    }

    &__animate::before {
        content: "";
        animation: animate infinite 10s;
        color: #fff;
    }
}