.header-1 {
    grid-column: 1/-1;
    
    font-size: 4.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    
    color: $color-grey-dark-2;
    
    background-image: linear-gradient(to right, 
    $color-primary-1, 
    $color-primary-2,
    $color-primary-3,
    $color-primary-4);
    display: inline-block;
    
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    

}

.header-3 {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    color: #fff;
}