
$color-grey-light-1: #cfc5c5;
$color-grey-dark-2: #b4b2b2;
$color-grey-dark-3: #a39191;

$color-primary-1: #EE7752;
$color-primary-2: #E73C7E;
$color-primary-3: #23A6D5;
$color-primary-4: #23D5AB;
$color-primary-5: #6d60e7;
